/* MEDIA QUERIES */

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px)

	#main-heading
		margin-left: auto
		margin-right: auto


// Medium devices (tablets, 768px and down)
@media (max-width: 768px)


// Large devices (desktops, 992px and down)
@media (max-width: 992px)
	#section-one
		background-position: center

// Extra large devices (large desktops, 1200px and down)
@media (max-width: 1200px)
