/* NAVBAR STYLES */

#nav-list
	display: flex
	flex-direction: row
	position: fixed
	top: 0
	right: 0
	z-index: 999
	width: 100px
	box-sizing: border-box

.midnightHeader.white
	a
		color: #fff

.midnightHeader.black
	a
		color: #000
