/* NAVBAR STYLES */

#nav-list
	display: flex
	flex-direction: row
	position: fixed
	text-align: center
	z-index: 999
	width: 100%
	box-sizing: border-box
	a
		//width: 100px
		display: inline-block
		justify-content: center
		//float: right

.midnightHeader.white
	a
		color: #fff

.midnightHeader.black
	a
		color: #000
