/* NAVBAR STYLES */

#nav-list
	display: flex
	flex-direction: row
	position: fixed
	text-align: center
	z-index: 999
	//width: 100%
	box-sizing: border-box
	a
		//width: 100px
		display: inline-block
		justify-content: center
		cursor: pointer


.midnightHeader.white
	a
		color: #fff
	#inner-nav
		background-color: rgba(68, 68, 68, 0.5)

.midnightHeader.black
	a
		color: #000
	#inner-nav
		background-color: rgba(68, 68, 68, 0.5)
