/* SECTION THREE STYLES */

#section-three
	font-size: 1.2em

#portfolio-container
	position: relative
	top: 57px
	padding: 0

#featured-work
	li
		min-height: 300px
		list-style: none
		padding: 0
		background-color: pink
		overflow: hidden
		-webkit-box-shadow: inset 0px 0px 140px -20px rgba(0,0,0,0.75)
		-moz-box-shadow: inset 0px 0px 140px -20px rgba(0,0,0,0.75)
		box-shadow: inset 0px 0px 140px -20px rgba(0,0,0,0.75)
		a
			display: block
			height: 300px
			width: 100%
			img
				display: block
				width: 155px
				height: 155px
				position: absolute
				top: 50%
				left: 50%
				transform: scale(1)
				transform: translate(-50%, -50%)
	.first
		background-color: #CD201F
	.second
		background-color: #F5F4F4
	.third
		background-color: #323232
	h3
		position: absolute
		width: 100%
		background-color: rgba(0, 0, 0, 0.75)
		padding: 0.2em
		color: #FFF
		margin: 0
		transform: translateY(100%) translateZ(0)
		transition-duration: 0.3s
		transition-timing-function: ease-in-out

	li:hover h3
		transform: translateY(-100%) translateZ(0)
		transition-duration: 0.3s
		transition-timing-function: ease-in-out
