/* SECTION TWO STYLES */

#section-two
	background-color: #fff

#about-text
	margin: 0 auto
	text-align: center
	h1
		margin-bottom: 20px

#avatar
	margin: 80px auto 25px
	height: 35vh
	padding-right: 0
	border: solid #000 .1px
