/* SECTION THREE STYLES */

#section-three
	background-color: $primary-color

#wrapper-job
	position: relative
	top: 10vh
	margin: 0 auto

#webcard
	margin: 10px auto

#gallery-container
	width: 80%
	margin: 0 auto
	img
		margin: 10px auto

.jobIcon
	height: 200px
	width: auto
	float: left
	margin: 0 auto

#inner-wrapper
	margin: 0 auto

#pModal
	width: 80%
	margin: 10px auto
