/* SECTION THREE STYLES */

#section-three
	background-color: $primary-color

#wrapper-job
	position: relative
	top: 10vh
	margin: 0 auto

.trigger img
	margin-bottom: 15px

.slide-job
	h1, p
	color: #fff
	text-align: center
	//display: none
